
/* footer */

/*.footer {
    background: rgb(54,57,63);
    color: white;
    height: 200px;
    position: relative;
}

.footer .footer-content {
    border: 1px solid rgb(255, 255, 255);
    height: 160px;
}*/



.footer .footer-bottom {
    background: rgba(54,57,63,0.55);
    color: white;
    border: 4px solid rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 6px;
}

/* .footer .footer-start {
    background: rgba(54,57,63,0.5);
    color: white;
    border: 1px solid rgba(255,255,255,0.5);
    position: absolute;
    height: 40px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    bottom: 4pc;
    left: 0px;
    padding-top: 9px;
} */

/* footer */

.dark-body {
    height: 100%;
    background-size: cover;
}

.form-control .table{
    color: white;
}

#attack-amount{
    padding-bottom: 50px
}

.dark-title-Server-information {
    color: rgb(230,252,255) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

.checker {
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
}

.dark-title {
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500px;
    text-align: center;
}

#account-amount{
    margin-top: -1px;
}

#attack-amount{
    margin-top: -9px;
}

.dark-container {
    border-color: rgb(0, 0, 0) !important;
    background-color: rgba(58,62,69,0.55) !important;
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto';
    font-weight: 200x;
    border-width: 4px;
    font-style: italic;
}


.dark-btn {
    background-color: rgba(58,62,69,0.5) !important; 
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    letter-spacing: 0.5px;
    font-family: 'Roboto';
    font-style: italic;
}

.go-reactions-btn {
    background-color: rgba(58,62,69,0.58) !important; 
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    letter-spacing: 0.5px;
    font-family: 'Roboto';
    font-style: italic;
}


.dark-input {
    background-color: rgba(58,62,69,0.5)  !important; 
    border-color: transparent !important; /*Best color rgb(48, 165, 255) */
    color: rgb(0, 255, 229) !important;
    font-family: 'Roboto';
    font-style: italic;
}

.dark-input::-webkit-input-placeholder{
    color: white;
}


#thread-amount {
    width: 140px; 
    font-size: 14px;
    position: absolute; 
    bottom: 10px;
    right: 10px;
}



.server-unreachable {
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    text-align: center;
}